In [1]:
#Import dependencies
import pandas as pd
import numpy as np
import os

In [2]:
base_path= 'Output/'
denue20_df = pd.read_csv(f'{base_path}denue_2020.csv')
denue19_df = pd.read_csv(f'{base_path}denue_2019.csv')

In [5]:
denue20_df.head()

      CVE_ENT  CODIGO       ID_ESTRATO  Uni20
0           1      21   0 a 5 personas      4
1           1      21  6 a 10 personas      3
2           1      22   0 a 5 personas     42
3           1      22  6 a 10 personas      8
4           1      23   0 a 5 personas    245
...       ...     ...              ...    ...
1330       32      71  6 a 10 personas     85
1331       32      72   0 a 5 personas   7728
1332       32      72  6 a 10 personas    609
1333       32      81   0 a 5 personas   9871
1334       32      81  6 a 10 personas    348

[1335 rows x 4 columns]

In [6]:
denue19_df.head()

      CVE_ENT  CODIGO       ID_ESTRATO  Uni19
0           1      21   0 a 5 personas      3
1           1      21  6 a 10 personas      3
2           1      22   0 a 5 personas     22
3           1      22  6 a 10 personas      9
4           1      23   0 a 5 personas    161
...       ...     ...              ...    ...
1317       32      71  6 a 10 personas     90
1318       32      72   0 a 5 personas   7642
1319       32      72  6 a 10 personas    605
1320       32      81   0 a 5 personas   9771
1321       32      81  6 a 10 personas    345

[1322 rows x 4 columns]

In [8]:
merge_df = pd.merge(denue19_df, denue20_df, on=["CVE_ENT","CODIGO","ID_ESTRATO"])
merge_df = merge_df.rename(columns = {"Unidades_Economicas_x": "Unidades 2019", "Unidades_Economicas_y": "Unidades 2020"})

In [9]:
merge_df["DELTA UNIDADES_ECONOMICAS"] = merge_df["Unidades 2020"] - merge_df["Unidades 2019"]
merge_df

,CVE_ENT,CODIGO,ID_ESTRATO,Unidades 2019,Unidades 2020,DELTA UNIDADES_ECONOMICAS
0,1,21,0 a 5 personas,3,4,1
1,1,21,6 a 10 personas,3,3,0
2,1,22,0 a 5 personas,22,42,20
3,1,22,6 a 10 personas,9,8,-1
4,1,23,0 a 5 personas,161,245,84
...,...,...,...,...,...,...
1312,32,71,6 a 10 personas,90,85,-5
1313,32,72,0 a 5 personas,7642,7728,86
1314,32,72,6 a 10 personas,605,609,4
1315,32,81,0 a 5 personas,9771,9871,100
1316,32,81,6 a 10 personas,345,348,3

In [11]:
#Export the dataframe to a csv file
csv_path= "Output/denue_total.csv"
merge_df.to_csv(csv_path,index=True)