In [1]:
#Import dependencies
import pandas as pd
import numpy as np
import os

In [2]:
# Read the CSV files that will be analyzed from the DENUE site
base_path= "Resources/denue/2019"
file_list = os.listdir(base_path)
denue_columns = ["codigo_act", "nombre_act","per_ocu","cve_ent","entidad"]
denue_df = pd.DataFrame(columns = denue_columns)
total = 0

for file in file_list:
    reader_df = pd.read_csv(f'{base_path}/{file}', encoding="latin-1")
    clean_df = reader_df[denue_columns]
    clean_df = clean_df[(clean_df['per_ocu'] == "0 a 5 personas") | (clean_df['per_ocu'] == "6 a 10 personas")]
    denue_df = denue_df.append(clean_df, ignore_index = True)
    a = len(clean_df)
    total = total + a

print(total)

C:\Users\pilar\anaconda3\envs\pythonData\lib\site-packages\IPython\core\interactiveshell.py:3072: DtypeWarning: Columns (34) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)
C:\Users\pilar\anaconda3\envs\pythonData\lib\site-packages\IPython\core\interactiveshell.py:3072: DtypeWarning: Columns (16,19,22,23,24,33,34,35) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)
C:\Users\pilar\anaconda3\envs\pythonData\lib\site-packages\IPython\core\interactiveshell.py:3072: DtypeWarning: Columns (34,36) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)
C:\Users\pilar\anaconda3\envs\pythonData\lib\site-packages\IPython\core\interactiveshell.py:3072: DtypeWarning: Columns (33) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)
C:\Users\pilar\anaconda3\envs\pythonData\lib\site-packages\IPython\core\interactiveshell.py:3072: DtypeWarning: Columns (33,34) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

5037858

In [3]:
denue_df['cve_ent'] = denue_df['cve_ent'].astype(str)
denue_df['cve_ent'] = denue_df['cve_ent'].apply(lambda x: x.zfill(2))

In [4]:
denue_df["codigo_act"] = denue_df["codigo_act"].astype(str)
denue_df["CODIGO"] = denue_df["codigo_act"].str[:2]
denue_df.columns = ["COD_ACT","NOMBRE_ACT", "ID_ESTRATO","CVE_ENT","ENTIDAD","CODIGO"]
denue_df

,COD_ACT,NOMBRE_ACT,ID_ESTRATO,CVE_ENT,ENTIDAD,CODIGO
0,212319,Minería de otras piedras dimensionadas,0 a 5 personas,01,AGUASCALIENTES,21
1,212321,Minería de arena y grava para la construcción,6 a 10 personas,01,AGUASCALIENTES,21
2,212319,Minería de otras piedras dimensionadas,0 a 5 personas,01,AGUASCALIENTES,21
3,212319,Minería de otras piedras dimensionadas,6 a 10 personas,01,AGUASCALIENTES,21
4,213119,Otros servicios relacionados con la minería,0 a 5 personas,01,AGUASCALIENTES,21
...,...,...,...,...,...,...
5037853,812110,Salones y clínicas de belleza y peluquerías,0 a 5 personas,32,ZACATECAS,81
5037854,812110,Salones y clínicas de belleza y peluquerías,0 a 5 personas,32,ZACATECAS,81
5037855,812110,Salones y clínicas de belleza y peluquerías,0 a 5 personas,32,ZACATECAS,81
5037856,811219,Reparación y mantenimiento de otro equipo elec...,0 a 5 personas,32,ZACATECAS,81
5037857,812110,Salones y clínicas de belleza y peluquerías,0 a 5 personas,32,ZACATECAS,81

In [5]:
grp_df = denue_df.groupby(["CVE_ENT", "CODIGO", "ID_ESTRATO"])\
        .agg({"ID_ESTRATO":"count"})\
        .rename(columns = {"ID_ESTRATO": "Unidades_Economicas"})
grp_df

                                Unidades_Economicas
CVE_ENT CODIGO ID_ESTRATO
01      21     0 a 5 personas                     3
               6 a 10 personas                    3
        22     0 a 5 personas                    22
               6 a 10 personas                    9
        23     0 a 5 personas                   161
...                                             ...
32      71     6 a 10 personas                   90
        72     0 a 5 personas                  7642
               6 a 10 personas                  605
        81     0 a 5 personas                  9771
               6 a 10 personas                  345

[1322 rows x 1 columns]

In [6]:
#Export the dataframe to a csv file
csv_path= "Output/denue_2019.csv"
grp_df.to_csv(csv_path,index=True)